.App {
  text-align: center;
  padding: 4rem;
  max-width: 40rem;
  margin: 0 auto;
}

audio {
  margin: 0 auto 2rem auto;
}

section {
  width: 100%;
}

button + button {
  margin-left: 1rem;
}

h4 {
  margin: 1rem;
}
